<div class="bshare-custom">
  <a title="分享到微信" class="bshare-weixin"></a>
  <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
  <a title="分享到Twitter" class="bshare-twitter"></a>
  <a title="分享到Facebook" class="bshare-facebook"></a>
  <a title="分享到花瓣" class="bshare-huaban"></a>
  <a title="分享到Pinterest" class="bshare-pinterest"></a>
  <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
  <span class="BSHARE_COUNT bshare-share-count">0</span>
</div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>

<!--
<div class="share-btns"><a data-to="weibo" title="新浪微博" target="_blank" href="/pins/435088120/js-share/?to=weibo" class="share-btn weibo"></a><a data-to="qzone" title="QQ空间" target="_blank" href="/pins/435088120/js-share/?to=qzone" class="share-btn qzone"></a><a data-to="weixin" title="微信" target="_blank" href="/pins/435088120/js-share/?to=weixin" class="share-btn weixin"></a><div class="more"></div></div>
-->
